rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /schedules/{scheduleId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /events/{eventId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /sermons/{sermonId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    match /ministries/{ministryId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
